/figures/ Troctolite 
Chauhan, G., Kuptel-Markiewicz, I., Silva De Almeida, I., & Rowiński, P. M. (2025). 
The rhythm of Polish rivers: application of wavelet transform to identify flow regimes. Hydrological Sciences Journal, 70(11), 1893–1912. 
https://doi.org/10.1080/02626667.2025.2513479
